#myBtn {
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #fc636b ;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }

  #myBtn:hover {
    background-color: #2fdab8;
  }

   @media (max-width: 330px){
    table{
      width: 60% !important;
      height: 80%;
      font-size: 7.5px;
    } 

    #myBtn {
      width: 80px !important;
      height: 70px;
      bottom: 150px !important;
      left: 20px !important;
      font-size: 12px;
    }
    .product-new-top{
      display: inline-block;
    }

  } 

  @media (max-width: 400px){
    table{
      width: 70% !important;
      height: 80%;
      font-size: 10px;
    } 
  }